Ketua

NPM     : 200411100101

Nama    : Abd. Hanif Azhari

Anggota

NPM     : 200411100051

Nama    : Zuni Amanda Dewi

Github Ketua : https://github.com/ABDHanifAzhari/kolaborasipro

In [8]:
import pandas as pd
import numpy as np
from numpy import array
from sklearn.preprocessing import MinMaxScaler

In [9]:
data=pd.read_csv("MLTempDataset.csv")
data

      Unnamed: 0  Datetime1  DAYTON_MW             Datetime
0              0          0     20.867  2022-01-04 00:00:00
1              1          1     21.000  2022-01-04 01:00:00
2              2          2     20.867  2022-01-04 02:00:00
3              3          3     20.650  2022-01-04 03:00:00
4              4          4     20.400  2022-01-04 04:00:00
...          ...        ...        ...                  ...
6671        6671         19     27.350  2022-10-08 23:00:00
6672        6672         20     26.800  2022-10-09 00:00:00
6673        6673         21     26.450  2022-10-09 01:00:00
6674        6674         22     25.900  2022-10-09 02:00:00
6675        6675         23     25.567  2022-10-09 03:00:00

[6676 rows x 4 columns]

In [10]:
temp=data["DAYTON_MW"]
temp

0       20.867
1       21.000
2       20.867
3       20.650
4       20.400
         ...
6671    27.350
6672    26.800
6673    26.450
6674    25.900
6675    25.567
Name: DAYTON_MW, Length: 6676, dtype: float64

In [11]:
n = len(temp)
sizeTrain = (round(n*0.8))
data_train = pd.DataFrame(temp[:sizeTrain])
data_test = pd.DataFrame(temp[sizeTrain:])
len(data_train)

5341

In [12]:
scaler = MinMaxScaler()
scaled = scaler.fit_transform(data_train)
scaled_train = pd.DataFrame(scaled)
scaled_train

             0
0     0.498138
1     0.502408
2     0.498138
3     0.491172
4     0.483146
...        ...
5336  0.604077
5337  0.600000
5338  0.596565
5339  0.592295
5340  0.589085

[5341 rows x 1 columns]

In [13]:
scaled = scaler.fit_transform(data_test)
scaled_test = pd.DataFrame(scaled)
scaled_test

             0
0     0.643534
1     0.636693
2     0.625690
3     0.623630
4     0.600964
...        ...
1330  0.796711
1331  0.774046
1332  0.759623
1333  0.736957
1334  0.723234

[1335 rows x 1 columns]

In [14]:
# split a univariate sequence into samples
def split_sequence(sequence, n_steps):
  X, y = list(), list()
  for i in range(len(sequence)):
    # find the end of this pattern
    end_ix = i + n_steps
    # check if we are beyond the sequence
    if end_ix > len(sequence)-1:
      break
    # gather input and output parts of the pattern
    seq_x, seq_y = sequence[i:end_ix], sequence[end_ix]
    X.append(seq_x)
    y.append(seq_y)
  return array(X), array(y)

Percobaan
1. data train = 3, k = 3, MAPE = 0.046841570206561906
2. data train = 4, k = 2, MAPE = 0.055036155048964
3. data train = 4, k = 3, MAPE = 0.0510928616442624
4. data train = 3, k = 2, MAPE = 0.04975585528553922
5. data train = 3, k = 9, MAPE = 0.044064251621401165

In [15]:
# transform to a supervised learning problem
X, y = split_sequence(scaled_train[0], 3)
print(X.shape, y.shape)
dfX = pd.DataFrame(X, columns=["Xt-3","Xt-2", "Xt-1"])
dfy = pd.DataFrame(y, columns=["Xt"])

df = pd.concat((dfX, dfy), axis = 1)
df

(5338, 3) (5338,)

          Xt-3      Xt-2      Xt-1        Xt
0     0.498138  0.502408  0.498138  0.491172
1     0.502408  0.498138  0.491172  0.483146
2     0.498138  0.491172  0.483146  0.473515
3     0.491172  0.483146  0.473515  0.463884
4     0.483146  0.473515  0.463884  0.454254
...        ...       ...       ...       ...
5333  0.619262  0.613162  0.608347  0.604077
5334  0.613162  0.608347  0.604077  0.600000
5335  0.608347  0.604077  0.600000  0.596565
5336  0.604077  0.600000  0.596565  0.592295
5337  0.600000  0.596565  0.592295  0.589085

[5338 rows x 4 columns]

In [16]:
# ambil data
X_train = df.drop(columns="Xt")
y_train = df.Xt
X_train

          Xt-3      Xt-2      Xt-1
0     0.498138  0.502408  0.498138
1     0.502408  0.498138  0.491172
2     0.498138  0.491172  0.483146
3     0.491172  0.483146  0.473515
4     0.483146  0.473515  0.463884
...        ...       ...       ...
5333  0.619262  0.613162  0.608347
5334  0.613162  0.608347  0.604077
5335  0.608347  0.604077  0.600000
5336  0.604077  0.600000  0.596565
5337  0.600000  0.596565  0.592295

[5338 rows x 3 columns]

In [17]:
# transform to a supervised learning problem
X, y = split_sequence(scaled_test[0], 3)
print(X.shape, y.shape)
dfX = pd.DataFrame(X, columns=["Xt-3","Xt-2", "Xt-1"])
dfy = pd.DataFrame(y, columns=["Xt"])

df_test = pd.concat((dfX, dfy), axis = 1)
df_test

(1332, 3) (1332,)

          Xt-3      Xt-2      Xt-1        Xt
0     0.643534  0.636693  0.625690  0.623630
1     0.636693  0.625690  0.623630  0.600964
2     0.625690  0.623630  0.600964  0.579659
3     0.623630  0.600964  0.579659  0.570757
4     0.600964  0.579659  0.570757  0.580359
...        ...       ...       ...       ...
1327  0.879832  0.855106  0.823498  0.796711
1328  0.855106  0.823498  0.796711  0.774046
1329  0.823498  0.796711  0.774046  0.759623
1330  0.796711  0.774046  0.759623  0.736957
1331  0.774046  0.759623  0.736957  0.723234

[1332 rows x 4 columns]

In [18]:
# ambil data
X_test = df_test.drop(columns="Xt")
y_test = df_test.Xt
X_test

          Xt-3      Xt-2      Xt-1
0     0.643534  0.636693  0.625690
1     0.636693  0.625690  0.623630
2     0.625690  0.623630  0.600964
3     0.623630  0.600964  0.579659
4     0.600964  0.579659  0.570757
...        ...       ...       ...
1327  0.879832  0.855106  0.823498
1328  0.855106  0.823498  0.796711
1329  0.823498  0.796711  0.774046
1330  0.796711  0.774046  0.759623
1331  0.774046  0.759623  0.736957

[1332 rows x 3 columns]

In [19]:
#KNN
from sklearn.neighbors import KNeighborsRegressor

neigh = KNeighborsRegressor(n_neighbors=9)
modelknn = neigh.fit(X_train, y_train)

In [20]:
y_pred = neigh.predict(X_test)
y_actual = scaler.inverse_transform(np.array(y_test).reshape(-1, 1))
y_prediksi = scaler.inverse_transform(y_pred.reshape(-1, 1))
print(y_actual)
print(y_prediksi)

[[23.15 ]
 [22.6  ]
 [22.083]
 ...
 [26.45 ]
 [25.9  ]
 [25.567]]
[[23.13428089]
 [23.13254977]
 [21.80824158]
 ...
 [26.15768514]
 [25.92398369]
 [25.52435422]]

In [21]:
from sklearn.metrics import mean_absolute_percentage_error
mape=mean_absolute_percentage_error(y_prediksi, y_actual)
print(mape)

0.044064251621401165

In [22]:
import pickle
# save the model to disk
filename = 'model_knn.sav'
pickle.dump(neigh, open(filename, 'wb'))